h1 {
    color: goldenrod;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("Images/BlackJack\ Table.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
